body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form.form-signin h1 {
  font-weight: bold;
}

form.form-signin input {
  margin: 8px 0;
}

p.auth-result {
  margin-top: 32px;
  text-align: center;
  color: red;
}

.app {
  width: 100%;
}

.app-body {
  padding: 32px 0;
}

#form-add-user {
  margin-bottom: 24px;
}

.columns-contain-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columns-contain-buttons button {
  width: 44%;
}

.container > .container-left {
  float: left;
  width: 55%;
  height: 640px;
  overflow: auto;
}

.container-left table {
  font-size: 0.8em;
}

.container > .container-right {
  float: right;
  width: 43%;
}